<!--Section: Content-->
<section class="mb-5">
    <h4 class="mb-5 text-center"><strong>Facilis consequatur eligendi</strong></h4>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeYnRLm2rGb6pj3dSzqIePjXQiiDxheanXSsru-ApivowTfsA/viewform?embedded=true" width="640" height="943" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
                <!-- Register buttons -->
                <div class="text-center">
                    <p>or sign up with:</p>
                    <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                    </button>

                    <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-google"></i>
                    </button>

                    <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                    </button>

                    <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-github"></i>
                    </button>
                </div>
        </div>
    </div>
</section>
<!--Section: Content-->