<section>
    <div class="row">
      <div class="col-md-6 gx-5 mb-4">
        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
          <img src="static/img/fv/pantallazos/curvas_kw.png" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
      </div>

      <div class="col-md-6 gx-5 mb-4">
        <h4><strong>La instalación generadora debe estar ajustada</strong></h4>
        <p class="text-muted">
            para que su generación pueda cubrir los consumos totales de los consumidores asociados. En este caso, al tratarse de una instalación SIN excedentes, el dimensionamiento adecuado toma mayor importancia, puesto que la generación se adaptará al consumo por existir un mecanismo anti-vertido, de manera que si no hay consumo no habrá generación. La generación en cada hora será como máximo el consumo total de los consumidores conectados aguas abajo de la generación, ya que es posible que en algún momento de esa hora la generación no sea capaz de suministrar la energía demandada.
        </p>
        <p><strong>Lo ideal es que los consumidores acomoden su demanda a la generación FV</strong></p>
        <p class="text-muted">
            , de manera que se maximice el autoconsumo, puesto que es ahí donde se encuentra el ahorro más importante de la factura. Cuanto más consumo horario se case con la generación horaria FV, mayor será el ahorro. 
        </p>
      </div>
    </div>
  </section>